<!DOCTYPE html>
<html>
<head>
	<title>harry styles</title>
	<link rel="stylesheet" href="../static/harry.css">

</head>
<body>
<ul>
  <li><a href="/harrystyles">Home</a></li>
  <li><a href="/profile">Profile</a></li>
  <li><a href="/dm">dm</a></li>
  <li><a href="/explore">explore</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">menu</a>
    <div class="dropdown-content">
      <a href="/spotifyh">spotify</a>
      <a href="/quizzes">quizzes</a>
      <a href="news">news</a>
      <a href="/tours">tours & tickets</a>
      <a href="/merch">merch</a>
      <a href="/opinions">opinions</a>
      <a href="/song">song of the day</a>
      <a href="/vote">vote for awards</a>
      <a href="/socialmediaposts">social media posts</a>
      <a href="/musicvideos">music videos</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">change</a>
    <div class="dropdown-content">
      <a href="/harrystyles">harry styles</a>
      <a href="/liampayne">liam payne</a>
      <a href="/louistomlinson">louis tomlinson</a>
      <a href="/niallhoran">niall horan</a>
      <a href="/zaynmalik">zayn malik</a>
      <a href="/onedirection">one direction</a>
    </div>
  </li>
</ul>
<h1>harry styles</h1>
<div class="posts">
<script src="https://apps.elfsight.com/p/platform.js" defer ></script>
<div class="elfsight-app-872cbd5b-4aa7-4a3f-ae0f-6cb38bc9f12c"></div>
</div>

</body>
</html>