<!DOCTYPE html>
<html>
<head>
	<title>home page</title>
	<link rel="stylesheet" href="../static/homepage.css">
</head>
<body>
	<h1 class="title">hello directioner!</h1>
	<h1 class="subtitle">welcome to our fandom page</h1>
	<div class="pics">
		<a href='{{url_for("harry")}}'><img src="../static/images/harry.jpg" width="260px" height="250px"></a>
	</div>
	<div class="pics">
		<a href='{{url_for("liam")}}'><img src="../static/images/liam.jpeg" width="250px" height="260px"></a>
	</div>
	<div class="pics">
		<a href='{{url_for("louis")}}'><img src="../static/images/louis.jpg" width="265px" height="250px"></a>
	</div>
	<div class="pics">
		<a href='{{url_for("niall")}}'><img src="../static/images/niall.jpeg" width="250px" height="250px"></a>
	</div>
	<div class="pics">
		<a href='{{url_for("zayn")}}'><img src="../static/images/zayn.jpeg" width="250px" height="250px"></a>
	</div>
	<div class="pics">
		<a href='{{url_for("oned")}}'><img src="../static/images/1d.jpg" width="250px" height="250px"></a>
	</div>
</body>
</html>