<!DOCTYPE html>
<html>
<head>
	<title>sign up</title>
	<link rel="stylesheet" href="../static/signup.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<div class="title"><h1>Sign Up</h1></div>
	<div>
  	</div>
	<form action="/sign_up" method="POST">
	<div class="fullname">
  		<div class="row">
    		<div class="col">
      			<input type="text" class="form-control" placeholder="First name" name="firstname">
	    	</div>
    		<div class="col">
     		 	<input type="text" class="form-control" placeholder="Last name" name="lastname">
    		</div>
    	</div>
    <div class="username">
		<div class="row">
			<div class="col">
      			<input type="text" class="form-control" placeholder="Username" name="username">
    		</div>
    		<div class="col">
      			<input type="text" class="form-control" placeholder="password" name="password">
    		</div>
    	</div>	
	</div>
    <div class="social">
    	<div class="row">
    		<div class="col">
      			<input type="text" class="form-control" placeholder="social media" name="media">
    		</div>
  		</div>
  	</div>
  	<div class="favmember">
    	<div class="row">
    		<div class="col">
      			<input type="text" class="form-control" placeholder="your favorite member" name="member">
    		</div>
  		</div>
  	</div>
  	<div class="opinion">
    	<div class="row">
    		<div class="col">
      			<input type="text" class="form-control" placeholder="an unpopular opinion" name="opinion">
    		</div>
  		</div>
  	</div>
  	<div class="favsong">
    	<div class="row">
    		<div class="col">
      			<input type="text" class="form-control" placeholder="your favorite song" name="song">
    		</div>
  		</div>
  	</div>
  	<div class="favalbum">
    	<div class="row">
    		<div class="col">
      			<input type="text" class="form-control" placeholder="your favorite album" name="album">
    		</div>
  		</div>
  	</div>
    <input type="submit" value="Sign Up" class="next">

<div>
	
</div>
</div></form>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>