<!DOCTYPE html>
<html>
<head>
	<title>louis tomlinson spotify</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/liam.css">

</head>
<body>
<ul>
  <li><a href="/louistomlinson">Home</a></li>
  <li><a href="/profile">Profile</a></li>
  <li><a href="/dm">dm</a></li>
  <li><a href="/explore">explore</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">menu</a>
    <div class="dropdown-content">
      <a href="/spotifyh">spotify</a>
      <a href="/quizzes">quizzes</a>
      <a href="news">news</a>
      <a href="/tours">tours & tickets</a>
      <a href="/merch">merch</a>
      <a href="/opinions">opinions</a>
      <a href="/song">song of the day</a>
      <a href="/vote">vote for awards</a>
      <a href="/socialmediaposts">vote for awards</a>
      <a href="/musicvideos">music videos</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">change</a>
    <div class="dropdown-content">
      <a href="/harrystyles">harry styles</a>
      <a href="/liampayne">liam payne</a>
      <a href="/louistomlinson">louis tomlinson</a>
      <a href="/niallhoran">niall horan</a>
      <a href="/zaynmalik">zayn malik</a>
      <a href="/onedirection">one direction</a>
    </div>
  </li>
</ul>
<h1>louis tomlinson spotify</h1>
<div class="container" style="max-width: none;">
  <div class="row margin">
    <<iframe class="position" src="https://open.spotify.com/embed/album/5bZPgHGpXfljusEfUKGdfT" width="400" height="480" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></div>
    <div class="thisis col">
    <iframe class="position" src="https://open.spotify.com/embed/playlist/37i9dQZF1E4p8zuLVImHOl" width="400" height="480" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></div>
  </div>

</body>
</html>