body{
 	background-color: #F2EEE8;
 }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family:"OneDirection" ;
  font-size: 30px;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #EF3E36;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #EF3E36;}

.dropdown:hover .dropdown-content {
  display: block;
}
.posts{
	/*position: absolute;*/
	margin-top: 30px;
}
h1{
  color: black;
  font-family:"OneDirection" ;
  font-size: 100px;
  text-align: center;
  padding: -50px;
  margin: 0px;
  top: 10px;
}